/* Global Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Container for the task tracker */
  .app {
    background-color: #fff;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 1.8rem;
  }
  
  /* Styling the form */
  form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
  }
  
  input[type="text"]:focus {
    border-color: #04454d;;
    outline: none;
  }
  
  button {
    padding: 10px 15px;
    background-color: #04454d;;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #032f35;;
  }
  
  /* Task List */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #948f8f;
    padding: 12px 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  li:hover {
    background-color: #f1f1f1;
  }
  
  .task-text {
    font-size: 1.1rem;
    color: #333;
    flex: 1;
  }
  
  .task-text {
    font-size: 1.1rem;
    color: #333;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .task-date-time {
    margin-top: 5px;
    font-size: 0.8rem;
    color: #777;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #f9f9f9;
    padding: 12px 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  li:hover {
    background-color: #f1f1f1;
  }
  

  /* Buttons for edit and delete */
  .task-buttons {
    display: flex;
    gap: 10px;
  }
  
  .task-buttons button {
    background-color: #ff5252;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .task-buttons button:hover {
    background-color: #d32f2f;
  }
  
  button.edit {
    background-color: #04ba71;
  }
  
  button.edit:hover {
    background-color: #027044;
  }
  